In [7]:
import numpy as np
import pandas as pd

df = pd.read_excel("Task_Data.xlsx")
df

,ID,Team,Country,NameF,NameL,Weight,Height,DOB,Hometown,Prov,Pos,Age,HeightFt,HtIn,BMI
0,15,Women,Canada,Jocelyne,Larocque,139.0,5'6,1988-05-19,Ste. Anne,Man.,Defence,34,5.500000,66,22
1,16,Women,Canada,Brigette,Lacquette,180.0,5'6,1992-10-11,Mallard,Man.,Defence,29,5.500000,66,29
2,17,Women,Canada,Lauriane,Rougeau,167.0,5'8,1990-04-12,Beaconsfield,Que.,Defence,32,5.666667,68,25
3,18,Women,Canada,Laura,Fortino,137.0,5'4,1991-01-30,Hamilton,Ont.,Defence,31,5.333333,64,24
4,19,Women,Canada,Meaghan,Mikkelson,139.0,5'9,1985-01-04,St. Albert,Alta.,Defence,37,5.750000,69,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,68,Women,USA,Alex,Rigsby,150.0,5'7,1992-01-03,Delafield,Wis.,Goalie,30,5.583333,67,23
92,69,Women,USA,Maddie,Rooney,NaN,5'5,1997-07-07,Andover,Minn.,Goalie,25,5.416667,65,0
93,84,Men,USA,David,Leggio,185.0,6'0,1984-07-31,Buffalo,N.Y.,Goalie,37,6.000000,72,25
94,86,Men,USA,Brandon,Maxwell,196.0,6'1,1991-03-22,Winter Park,Fla.,Goalie,31,6.083333,73,26
95,96,Men,USA,Ryan,Zapolski,203.0,6'0,1986-11-11,Erie,Pa.,Goalie,35,6.000000,72,28

In [13]:
df.fillna({ 
    'DOB':np.nan
})
df.dropna(subset=['Weight'])

,ID,Team,Country,NameF,NameL,Weight,Height,DOB,Hometown,Prov,Pos,Age,HeightFt,HtIn,BMI
0,15,Women,Canada,Jocelyne,Larocque,139.0,5'6,1988-05-19,Ste. Anne,Man.,Defence,34,5.500000,66,22
1,16,Women,Canada,Brigette,Lacquette,180.0,5'6,1992-10-11,Mallard,Man.,Defence,29,5.500000,66,29
2,17,Women,Canada,Lauriane,Rougeau,167.0,5'8,1990-04-12,Beaconsfield,Que.,Defence,32,5.666667,68,25
3,18,Women,Canada,Laura,Fortino,137.0,5'4,1991-01-30,Hamilton,Ont.,Defence,31,5.333333,64,24
4,19,Women,Canada,Meaghan,Mikkelson,139.0,5'9,1985-01-04,St. Albert,Alta.,Defence,37,5.750000,69,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,57,Women,USA,Nicole,Hensley,155.0,5'7,1994-06-23,Lakewood,Colo.,Goalie,28,5.583333,67,24
91,68,Women,USA,Alex,Rigsby,150.0,5'7,1992-01-03,Delafield,Wis.,Goalie,30,5.583333,67,23
93,84,Men,USA,David,Leggio,185.0,6'0,1984-07-31,Buffalo,N.Y.,Goalie,37,6.000000,72,25
94,86,Men,USA,Brandon,Maxwell,196.0,6'1,1991-03-22,Winter Park,Fla.,Goalie,31,6.083333,73,26
95,96,Men,USA,Ryan,Zapolski,203.0,6'0,1986-11-11,Erie,Pa.,Goalie,35,6.000000,72,28

In [14]:
group=df.groupby('Pos')
group.head()

,ID,Team,Country,NameF,NameL,Weight,Height,DOB,Hometown,Prov,Pos,Age,HeightFt,HtIn,BMI
0,15,Women,Canada,Jocelyne,Larocque,139.0,5'6,1988-05-19,Ste. Anne,Man.,Defence,34,5.500000,66,22
1,16,Women,Canada,Brigette,Lacquette,180.0,5'6,1992-10-11,Mallard,Man.,Defence,29,5.500000,66,29
2,17,Women,Canada,Lauriane,Rougeau,167.0,5'8,1990-04-12,Beaconsfield,Que.,Defence,32,5.666667,68,25
3,18,Women,Canada,Laura,Fortino,137.0,5'4,1991-01-30,Hamilton,Ont.,Defence,31,5.333333,64,24
4,19,Women,Canada,Meaghan,Mikkelson,139.0,5'9,1985-01-04,St. Albert,Alta.,Defence,37,5.750000,69,21
29,1,Women,Canada,Meghan,Agosta,148.0,5'7,1987-02-12,Ruthven,Ont.,Forward,35,5.583333,67,23
30,2,Women,Canada,Rebecca,Johnston,148.0,5'9,1989-09-24,Sudbury,Ont.,Forward,32,5.750000,69,22
31,3,Women,Canada,Laura,Stacey,156.0,5'10,1994-05-05,Kleinburg,Ont.,Forward,28,5.833333,70,22
32,4,Women,Canada,Jennifer,Wakefield,172.0,5'10,1989-06-15,Pickering,Ont.,Forward,33,5.833333,70,25
33,5,Women,Canada,Jillian,Saulnier,144.0,5'5,1992-03-07,Halifax,N.S.,Forward,30,5.416667,65,24
84,21,Women,Canada,Shannon,Szabados,146.0,5'8,1986-08-06,Edmonton,Alta.,Goalie,35,5.666667,68,22
85,22,Women,Canada,GeneviÃ¨ve,Lacasse,136.0,5'8,1989-05-05,Kingston,Ont.,Goalie,33,5.666667,68,21
86,23,Women,Canada,Ann-RenÃ©e,Desbiens,160.0,5'9,1994-04-10,La Malbaie,Que.,Goalie,28,5.750000,69,24
87,46,Men,Canada,Ben,Scrivens,181.0,6'2,1986-09-11,Spruce Grove,Alta.,Goalie,35,6.166667,74,23
88,47,Men,Canada,Kevin,Poulin,205.0,6'2,1990-04-12,Montreal,Que.,Goalie,32,6.166667,74,26

In [15]:
df['HtIn'].loc[df['Team']=='Men'].median()

72.0

In [16]:
df['Weight'].loc[df['Team']=='Women'].mean()

151.38095238095238

In [18]:
pd.pivot_table(df,index=["Team","Age"],aggfunc=[np.mean,len])

                mean                                             len          \
                 BMI  HeightFt       HtIn         ID      Weight BMI Country
Team  Age
Men   24   24.000000  6.000000  72.000000  93.000000  179.000000   1       1
      25   26.500000  6.291667  75.500000  78.000000  215.000000   2       2
      26   26.000000  6.083333  73.000000  78.000000  196.000000   1       1
      30   25.000000  5.958333  71.500000  33.500000  182.000000   2       2
      31   25.666667  6.055556  72.666667  54.666667  192.000000   3       3
      32   26.250000  6.000000  72.000000  38.250000  194.000000   4       4
      33   17.333333  5.861111  70.333333  73.000000  182.500000   3       3
      34   25.200000  5.866667  70.400000  78.000000  178.600000   5       5
      35   26.000000  6.066667  72.800000  57.600000  195.500000  10      10
      36   26.000000  5.916667  71.000000  57.166667  186.500000   6       6
      37   26.666667  6.027778  72.333333  66.000000  200.333333   3       3
      38   28.000000  6.000000  72.000000  95.000000  205.000000   1       1
      39   26.750000  5.958333  71.500000  60.750000  194.500000   4       4
      40   28.000000  6.166667  74.000000  31.000000  216.000000   1       1
      41   25.500000  6.000000  72.000000  33.000000  190.500000   2       2
      43   27.000000  5.583333  67.000000  80.000000  175.000000   1       1
      122  28.000000  6.083333  73.000000  48.000000  210.000000   1       1
Women 23   27.000000  5.083333  61.000000  49.000000  145.000000   1       1
      25    0.000000  5.416667  65.000000  69.000000         NaN   1       1
      26   22.750000  5.625000  67.500000  47.750000  149.250000   4       4
      27   22.000000  5.583333  67.000000  14.500000  142.000000   2       2
      28   23.400000  5.633333  67.600000  40.800000  152.200000   5       5
      29   25.666667  5.444444  65.333333  32.000000  156.666667   3       3
      30   23.750000  5.416667  65.000000  33.000000  144.000000   4       4
      31   24.500000  5.583333  67.000000  18.500000  155.500000   6       6
      32   23.500000  5.708333  68.500000   9.500000  157.500000   2       2
      33   23.600000  5.683333  68.200000  41.800000  156.000000   5       5
      34   16.333333  5.638889  67.666667  26.666667  154.500000   3       3
      35   23.000000  5.625000  67.500000  33.750000  149.500000   4       4
      37   21.000000  5.750000  69.000000  19.000000  139.000000   1       1
      122  14.000000  5.500000  66.000000  62.600000  150.333333   5       5


          DOB Height HeightFt Hometown HtIn  ID NameF NameL Pos Prov Weight
Team  Age
Men   24    1      1        1        1    1   1     1     1   1    1      1
      25    2      2        2        2    2   2     2     2   2    2      2
      26    1      1        1        1    1   1     1     1   1    1      1
      30    2      2        2        2    2   2     2     2   2    2      2
      31    3      3        3        3    3   3     3     3   3    3      3
      32    4      4        4        4    4   4     4     4   4    4      4
      33    3      3        3        3    3   3     3     3   3    3      3
      34    5      5        5        5    5   5     5     5   5    5      5
      35   10     10       10       10   10  10    10    10  10   10     10
      36    6      6        6        6    6   6     6     6   6    6      6
      37    3      3        3        3    3   3     3     3   3    3      3
      38    1      1        1        1    1   1     1     1   1    1      1
      39    4      4        4        4    4   4     4     4   4    4      4
      40    1      1        1        1    1   1     1     1   1    1      1
      41    2      2        2        2    2   2     2     2   2    2      2
      43    1      1        1        1    1   1     1     1   1    1      1
      122   1      1        1        1    1   1     1     1   1    1      1
Women 23    1      1        1        1    1   1     1     1   1    1      1
      25    1      1        1        1    1   1     1     1   1    1      1
      26    4      4        4        4    4   4     4     4   4    4      4
      27    2      2        2        2    2   2     2     2   2    2      2
      28    5      5        5        5    5   5     5     5   5    5      5
      29    3      3        3        3    3   3     3     3   3    3      3
      30    4      4        4        4    4   4     4     4   4    4      4
      31    6      6        6        6    6   6     6     6   6    6      6
      32    2      2        2        2    2   2     2     2   2    2      2
      33    5      5        5        5    5   5     5     5   5    5      5
      34    3      3        3        3    3   3     3     3   3    3      3
      35    4      4        4        4    4   4     4     4   4    4      4
      37    1      1        1        1    1   1     1     1   1    1      1
      122   5      5        5        5    5   5     5     5   5    5      5

In [19]:
df1=df.loc[(df["Team"]=='Men') & (df["Country"]=='Canada')]
df2=df.loc[(df["Team"]=='Women') & (df["Country"]=='USA')]
df1.join(df2,lsuffix='m',rsuffix='w')

,IDm,Teamm,Countrym,NameFm,NameLm,Weightm,Heightm,DOBm,Hometownm,Provm,...,Weightw,Heightw,DOBw,Hometownw,Provw,Posw,Agew,HeightFtw,HtInw,BMIw
6,38,Men,Canada,Karl,Stollery,181.0,5'11,1987-11-21,Camrose,Alta.,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,39,Men,Canada,Chris,Lee,187.0,6'0,1980-10-03,MacTier,Ont.,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,40,Men,Canada,Chay,Genoway,170.0,5'9,1986-12-20,Morden,Man.,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,41,Men,Canada,Marc-Andre,Gragnani,205.0,6'3,1987-03-11,Lâ€™ÃŽle-Bizard,Que.,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,42,Men,Canada,Stefan,Elliott,190.0,6'1,1991-01-30,Vancouver,B.C.,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,43,Men,Canada,Cody,Goloubef,200.0,6'1,1989-11-30,Oakville,Ont.,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,44,Men,Canada,Mat,Robinson,185.0,5'10,1986-06-20,Calgary,Alta.,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,45,Men,Canada,Maxim,Noreau,198.0,6'0,1987-05-24,Montreal,Que.,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,24,Men,Canada,Gilbert,BrulÃ©,190.0,5'11,1987-01-01,Vancouver,B.C.,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,25,Men,Canada,Wojtek,Wolski,220.0,6'3,1986-02-24,Toronto,Ont.,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,26,Men,Canada,Derek,Roy,187.0,5'9,1983-05-04,Rockland,Ont.,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,27,Men,Canada,Chris,Kelly,194.0,6'0,1980-11-11,Toronto,Ont.,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,28,Men,Canada,Rob,Klinkhammer,214.0,6'3,1986-08-12,Lethbridge,Alta.,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,29,Men,Canada,Brandon,Kozun,170.0,5'8,1990-03-08,Calgary,Alta.,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,30,Men,Canada,Quinton,Howden,190.0,6'2,1992-01-21,Oakbank,Man.,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,31,Men,Canada,RenÃ©,Bourque,216.0,6'2,1981-12-10,Lac La Biche,Alta.,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,32,Men,Canada,Andrew,Ebbett,176.0,5'9,1983-01-02,Vernon,B.C.,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,33,Men,Canada,Mason,Raymond,179.0,6'1,1985-09-17,Cochrane,Alta.,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,34,Men,Canada,Eric,Oâ€™Dell,201.0,6'1,1990-06-21,Ottawa,Ont.,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,35,Men,Canada,Maxim,Lapierre,216.0,6'0,1985-03-29,Brossard,Que.,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,36,Men,Canada,Linden,Vey,190.0,6'0,1991-07-17,Wakaw,Sask.,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,37,Men,Canada,Christian,Thomas,174.0,5'9,1992-05-26,Toronto,Ont.,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,46,Men,Canada,Ben,Scrivens,181.0,6'2,1986-09-11,Spruce Grove,Alta.,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,47,Men,Canada,Kevin,Poulin,205.0,6'2,1990-04-12,Montreal,Que.,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,48,Men,Canada,Justin,Peters,210.0,6'1,NaT,Blyth,Ont.,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN